@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
h1{
    color: #140410;

}
html, body {
   
    height: 100%;
    margin: 0;
   
 
  }
  .container{
      width: 100%;
  }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    float: right;
}
.logo{
    position: absolute;
    left:0;
    right: 0;
    top:50px;
    text-align: center;
    z-index: 200;
}
.shoesImage img{
    width: 130%;
    margin-top: -120px;
    margin-left: -80px;
    margin-bottom: 20px;
}
.container{
max-width: 100%;

}
.container-slide1{
    display: flex;
}
.cols{
    display: flex;
   
}
.cols-slide1{
    margin-top:250px;
    margin-bottom: -100px
}
.cols-slide2{
    margin-top:186px;
    margin-bottom: 0;
    flex-direction: column;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
     
}
.container-slide3{
    margin-top:250px;
}
.left-col-slide3{
    margin-right:100px;
    padding-left: 60px;
    
}
.left-col-slide3 h1{
    width: 160%;
    font-size: 48px;
    margin-left: -130px;
    font-family: 'Gochi Hand';
    color: white;
}
.left-col-slide3 p{
    width: 130%;
    font-size: 14px;
    margin-left: -70px;
    color: white;
    text-align: left;
    font-family: 'Helvetica';
    margin-bottom:50px;
}

.woman{
    margin-left: -35%;
    margin-top: -5px;
    
}
.shopping{
    margin-left: 23%;
    margin-bottom: 55px;   
}

.heart{
    width: 17%;
}
.left-col{    
    width: 50%;
    
}
.left-col-slide2{
    width: 70%;
    margin-left: -10%;
}
.right-col-slide3{
    
    width: 50%;
    padding-right: 60px;
}

.h1{
    margin-top: -20px;    
    color: 140410;
    font-family: 'Gochi Hand';
}
.h1 span u{
  margin-right: -120px;
}

.link-block{
    margin-top: 50px;
}
.link-block  a{
    text-decoration: none;
}
.button1{
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right:40px; 
    border-radius:24px;
    margin-right: 10px;
    display: inline-block;
  

}
.button2{
    background-color: white;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right:40px; 
    border-radius:24px;
    display: inline-block;
    color: #d15867; 
   }
/*Swiper css styles*/
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
   
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev
{
    background-image: url(../image/right-arrow.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(../image/left-arrow.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}
.swiper {
    height: 100%;
}
.swiper-slide{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d15867+0,faf4f4+100,7db9e8+100 */
 background: #d15867; /* Old browsers */
 background: -moz-linear-gradient(-45deg, #d15867 0%, #faf4f4 100%, #7db9e8 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #d15867 0%,#faf4f4 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #d15867 0%,#faf4f4 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d15867', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;   
    opacity: 1;
    border: 1px solid red;
  background: none;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff0000;
}